---
import type { Lang } from "@/i18n/ui";
import AboutEs from "@/content/home/about.es.mdx";
import AboutEn from "@/content/home/about.en.mdx";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const Content = lang === "es" ? AboutEs : AboutEn;
---

<section id="about" class="mx-auto max-w-[680px] px-8 max-[600px]:px-5">
  <div
    class="[&_a]:text-primary [&_em]:italic [&_p]:m-0 [&_p]:mb-6 [&_p]:text-lg [&_p]:leading-[1.7] [&_p]:text-foreground [&_p:last-child]:mb-0 [&_strong]:font-semibold [&_strong]:text-foreground"
  >
    <Content />
  </div>
  <hr class="mx-auto mt-12 h-px w-[60px] border-0 bg-rule" />
</section>
